<config>
    <modules>
        <Tsg_Quotes>
            <version>0.2.0</version>
        </Tsg_Quotes>
    </modules>
    <global>
        <blocks>
            <tsg_quotes>
                <class>Tsg_Quotes_Block</class>
            </tsg_quotes>
        </blocks>
        <helpers>
            <tsg_quotes>
                <class>Tsg_Quotes_Helper</class>
            </tsg_quotes>
        </helpers>
        <models>
            <tsg_quotes>
                <class>Tsg_Quotes_Model</class>
                <resourceModel>tsg_quotes_resource</resourceModel>
            </tsg_quotes>
            <tsg_quotes_resource>
                <class>Tsg_Quotes_Model_Resource</class>
                <entities>
                    <quote>
                        <table>tsg_quotes</table>
                    </quote>
                </entities>
            </tsg_quotes_resource>
        </models>
        <resources>
            <tsg_quotes_setup>
                <setup>
                    <module>Tsg_Quotes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tsg_quotes_setup>
            <tsg_quotes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tsg_quotes_write>
            <tsg_quotes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tsg_quotes_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Tsg_Quotes>
                <use>standard</use>
                <args>
                    <module>Tsg_Quotes</module>
                    <frontName>quotes</frontName>
                </args>
            </Tsg_Quotes>
        </routers>
        <layout>
            <updates>
                <tsg_quotes>
                    <file>tsg/quotes.xml</file>
                </tsg_quotes>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <tsg_quotes>
                    <file>tsg/quotes.xml</file>
                </tsg_quotes>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tsg_quotes before="Mage_Adminhtml">Tsg_Quotes_Adminhtml</tsg_quotes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
