<?xml version="1.0" ?>
<config>
    <modules>
        <Asg_Advertising>
            <version>0.0.1</version>
        </Asg_Advertising>
    </modules>
    <global>
        <models>
            <asg_advertising>
                <class>Asg_Advertising_Model</class>
            </asg_advertising>
        </models>
        <helpers>
            <asg_advertising>
                <class>Asg_Advertising_Helper</class>
            </asg_advertising>
        </helpers>
        <blocks>
            <asg_advertising>
                <class>Asg_Advertising_Block</class>
            </asg_advertising>
        </blocks>
        <models>
            <asg_advertising>
                <class>Asg_Advertising_Model</class>
                <resourceModel>asg_advertising_resource</resourceModel>
            </asg_advertising>
            <asg_advertising_resource>
                <class>Asg_Advertising_Model_Resource</class>
                <entities>
                    <table_banner>
                        <table>asg_advertising_banners_entities</table>
                    </table_banner>
                </entities>
            </asg_advertising_resource>
        </models>
        <resources>
            <asg_advertising_setup>
                <setup>
                    <module>Asg_Advertising</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </asg_advertising_setup>
            <asg_advertising_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </asg_advertising_write>
            <asg_advertising_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </asg_advertising_read>
        </resources>

        <events>
            <widget_widget_instance_save_before>
                <observers>
                    <asg_advertising_widget_widget_instance_save_before>
                        <type>singleton</type>
                        <class>asg_advertising/observer_cropper</class>
                        <method>saveCroppedImage</method>
                    </asg_advertising_widget_widget_instance_save_before>
                </observers>
            </widget_widget_instance_save_before>
        </events>

        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <asg_advertising_catalog_product_collection_load_after>
                        <type>singleton</type>
                        <class>asg_advertising/observer_widgetBannerChecker</class>
                        <method>showBanners</method>
                    </asg_advertising_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <asg_advertising>
                    <file>asg_advertising.xml</file>
                </asg_advertising>
            </updates>
        </layout>
    </frontend>

</config>