<?xml version="1.0" ?>
<config>
    <modules>
        <Asg_Kasa>
            <version>0.0.1</version>
        </Asg_Kasa>
    </modules>
    <global>
        <models>
            <asg_kasa>
                <class>Asg_Kasa_Model</class>
            </asg_kasa>
        </models>
        <helpers>
            <asg_kasa>
                <class>Asg_Kasa_Helper</class>
            </asg_kasa>
        </helpers>
        <blocks>
            <asg_kasa>
                <class>Asg_Kasa_Block</class>
            </asg_kasa>
        </blocks>
        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>asg_kasa/observer_paymentChecker</class>
                        <method>paymentMethodIsActive</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
        <sales>
            <quote>
                <totals>
                    <asg_kasa>
                        <class>asg_kasa/sales_quote_kasa</class>
                        <after>discount</after>
                    </asg_kasa>
                </totals>
            </quote>
        </sales>
        <resources>
            <asg_kasa_setup>
                <setup>
                    <module>Asg_Kasa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </asg_kasa_setup>
            <asg_kasa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </asg_kasa_write>
            <asg_kasa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </asg_kasa_read>
        </resources>
        <fieldsets>
                <sales_convert_quote>
                    <base_looted_coins><to_order>*</to_order></base_looted_coins>
                    <base_kasa_percent><to_order>*</to_order></base_kasa_percent>
                    <looted_coins><to_order>*</to_order></looted_coins>
                    <kasa_percent><to_order>*</to_order></kasa_percent>
                </sales_convert_quote>
                <sales_convert_order>
                    <base_looted_coins><to_quote>*</to_quote></base_looted_coins>
                    <base_kasa_percent><to_quote>*</to_quote></base_kasa_percent>
                    <looted_coins><to_quote>*</to_quote></looted_coins>
                    <kasa_percent><to_quote>*</to_quote></kasa_percent>
                </sales_convert_order>
        </fieldsets>
    </global>
    <default>
        <payment>
            <asg_kasa>
                <active>1</active>
                <model>asg_kasa/payment_kasa</model>
                <order_status>pending</order_status>
                <title>Kasa</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </asg_kasa>
        </payment>
    </default>
    <adminhtml>
        <menu>
            <asg_kasa module="asg_kasa">
                <title>Kasa</title>
                <sort_order>77</sort_order>
                <action>adminhtml/kasa</action>
            </asg_kasa>
        </menu>
        <layout>
            <updates>
                <asg_kasa>
                    <file>asg/kasa.xml</file>
                </asg_kasa>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <asg_kasa before="Mage_Adminhtml">Asg_Kasa_Adminhtml</asg_kasa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Asg_Kasa>
                    <files>
                        <default>Asg_Kasa.csv</default>
                    </files>
                </Asg_Kasa>
            </modules>
        </translate>
        <layout>
            <updates>
                <asg_kasa>
                    <file>asg_kasa.xml</file>
                </asg_kasa>
            </updates>
        </layout>
    </frontend>
</config>